<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Türkiye'yi Tanıyorum :)</title>
        <link rel="stylesheet" href="../static/css/main.css" />
        
        <script src="../static/scripts/harita-svg.js"></script>
        <script src="../static/scripts/getCityInfo.js"></script>
        <script src="../static/scripts/zoom-pan-intertia.js"></script>
        <script src="../static/scripts/last.js"></script>
    </head>
    
    <body>
        <div id="container">
            
            <!-- SOL PANEL -->
            <div id="panel">
                <h3>İl Bilgisi</h3>
                <div id="loading">
                    <span class="dot">•</span>
                    <span class="dot">•</span>
                    <span class="dot">•</span>
                </div>
                <div id="bilgi">Bir il seçiniz</div>
            </div>

            <!-- HARİTA -->

            <div id="mapArea">
                <h2>Türkiye Haritası</h2>
                <div id ="toolbar">
                    <button class= "toolBtn active" data-tooltip = "Gezilen iller" data-mode= "visited"> 📍 </button>
                    <button class= "toolBtn active" data-tooltip = "Bulunulan iller" data-mode= "lived"> 🏠 </button>
                    <button class= "toolBtn active" data-tooltip= "Gitmek istenilen iller" data-mode= "wanted"> ⭐ </button>
                </div>

                <div id="mapContainer">
                    <div id="ui">
                        <div id="scale">1 / 1.000.000</div>
                        <div id="controls">
                            <button onclick="zoomIn()"> + </button>
                            <button onclick="zoomOut()"> - </button>
                        </div>
                    </div>
                    <div id="haritaWrapper">
                        <div id="harita"></div>  
                    </div>
                </div>
            </div>
        </div>

        <div id="videoContainer"></div>

    </body>
</html>